# Godot 4.x
.godot/
.idea/

#ai
.omo/
.opencode/

gen/
obj/
bin/

*.tres~
*.tscn~

# GDScript LSP
.godot/

# Export
*.exe
*.dmg
*.apk
*.aab
*.pck
*.zip
*.log

# OS
.DS_Store
Thumbs.db

# Editor
*.import
*.godot.uid
